.contact {
  padding: 25px 0;

  &__list {
    @include resetList;

    display: flex;
    align-items: center;
    gap: 0 96px;
  }

  &__item {
    color: $grey;
    font-size: 21px;

    svg {
      fill: currentcolor;
    }
  }
}
