.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 39px 0;

  &__logo {
    cursor: pointer;
  }

  & > a[href^="contacts"] {
    @media screen and (max-width: $breakpoint1450) {
      display: none;
    };
  }
}
