.achievements {
  padding: between(40px, 85px) 0 between(50px, 100px);

  &__list {
    @include resetList;

    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: $breakpoint768) {
      flex-wrap: wrap;
      gap: 25px 0;
    }

    @media screen and (max-width: $breakpoint480) {
      flex-direction: column;
    }
  }

  &__item {
    flex-basis: 25%;

    @media screen and (max-width: $breakpoint768) {
      flex-basis: 50%;
    }

    span {
      display: block;
      text-align: center;
    }

    span:first-child {
      font-family: STIXTwoMath, sans-serif;
      font-size: clamp(3.125rem, 1.8958rem + 4.0972vw, 6.8125rem);
    }

    span:last-child {
      color: $grey;
      font-size: clamp(1.125rem, 0.9583rem + 0.5556vw, 1.625rem);
    }

    span[data-percentage]::after {
      content: "%"
    }
  }

  &__services {
    margin: between(80px, 191px) 0 0;

    @media screen and (max-width: $breakpoint768) {
      text-align: center;
    }
  }

  &__desc {
    max-width: 66%;
    margin: between(30px, 47px) 0;
    color: $grey;

    @media screen and (max-width: $breakpoint768) {
      max-width: unset;
    }
  }

  &__btn {
    background-color: $light;
    color: $dark;

    @media screen and (max-width: $breakpoint768) {
      display: block;
      margin: 0 auto;
    }
  }
}

.services {
  padding: between(50px, 100px) 0 between(70px, 140px);

  &__list {
    @include resetList;

    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 42px 0;
  }
}

.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: between(35px, 99px) 0;
  border-bottom: 1px solid $borderLine;

  @media screen and (max-width: $breakpoint768) {
    flex-direction: column;
    align-items: center;
  }

  &__thumb {
    overflow: hidden;
    width: between(264px, 353px);
    height: between(272px, 363px);
    flex-shrink: 0;
    border-radius: $borderRadius;

    @media screen and (max-width: $breakpoint768) {
      border-radius: $borderRadiusMobile;
    }

    img {
      height: 100%;
      object-fit: cover;
    };
  }

  &__content {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    justify-content: center;
    gap: 36px 0;

    @media screen and (max-width: $breakpoint768) {
      align-items: center;
      margin-top: 24px;
      gap: 24px 0;
    }

    p {
      color: $grey;
    }
  }

  &__link {
    color: $light;

    svg {
      width: 18px;
      height: 18px;
      fill: none;
      stroke: #fdfdfd;

      @media screen and (max-width: $breakpoint1450) {
        width: 16px;
        height: 16px;
      }

      @media screen and (max-width: $breakpoint992) {
        width: 14px;
        height: 14px;
      }

      @media screen and (max-width: $breakpoint768) {
        width: 12px;
        height: 12px;
      }

      @media screen and (max-width: $breakpoint480) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.home__references {
  &-container {
    position: relative;
    border-radius: $borderRadius;
    background-color: $light;

    @media screen and (max-width: $breakpoint768) {
      border-radius: $borderRadiusMobile;
    }

    &::after {
      position: absolute;
      z-index: -1;
      bottom: -$borderRadius;
      left: 0;
      width: 100%;
      height: $borderRadius * 2;
      background: $light;
      content: "";
    }
  }

  &-gallery {
    display: flex;
    justify-content: space-between;
    padding: between(50px, 100px) 0 between(34px, 68px);

    @media screen and (max-width: $breakpoint768) {
      flex-direction: column;
    }
  }

  &-column {
    flex-basis: calc(50% - 120px);

    @media screen and (max-width: $breakpoint992) {
      flex-basis: calc(50% - 60px);
    }

    @media screen and (max-width: $breakpoint768) {
      flex-basis: 100%;
      margin-bottom: 30px;
    }

    > *:not(:last-child) {
      margin-bottom: between(30px, 90px, $breakpoint768);
    }

    h2 {
      margin-top: between(30px, 60px, $breakpoint480, $breakpoint768);
      color: $dark;
    }

    a {
      color: $dark;
    }
  }

  &-thumb {
    overflow: hidden;
    border-radius: $borderRadius;

    @media screen and (max-width: $breakpoint768) {
      border-radius: $borderRadiusMobile;
      margin: 0 auto;
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    &-tall {
      width: between(282px, 705px, $breakpoint768);
      height: between(362.4px, 906px, $breakpoint768);

      @media screen and (max-width: $breakpoint768) {
        width: between(282px, 634.5px, $breakpoint480, $breakpoint768);
        height: between(362.4px, 906px, $breakpoint480, $breakpoint768);
      }
    }

    &-small {
      width: between(293.6px, 734px, $breakpoint768);
      height: between(336.8px, 842px, $breakpoint768);

      @media screen and (max-width: $breakpoint768) {
        width: between(282px, 660.6px, $breakpoint480, $breakpoint768);
        height: between(362.4px, 757.8px, $breakpoint480, $breakpoint768);
      }
    }
  }
}

.home__references + section {
  background-color: unset;
}

.team {
  &__list {
    @include resetList;

    display: flex;
    flex-direction: column;
    margin-bottom: 87px;
    gap: between(20px, 97px) 0;

    @media screen and (max-width: $breakpoint480) {
      margin-bottom: 40px;
    };
  }

  &__member {
    position: relative;
    border-bottom: 1px solid $borderLine;
  }

  &__name {
    display: block;
    font-size: clamp(1.625rem, 0.7708rem + 2.8472vw, 4.1875rem);
  }

  &__job {
    display: block;
    margin: 28px 0;
    color: $grey;
    font-size: clamp(1.125rem, 0.7917rem + 1.1111vw, 2.125rem);

    @media screen and (max-width: $breakpoint480) {
      margin: 14px 0;
    };
  }

  &__photo {
    position: absolute;
    right: 5%;
    bottom: -50%;
    overflow: hidden;
    width: 414px;
    height: 406px;
    border-radius: $borderRadius;
    opacity: 0;
    transition-duration: 0.3s;
    visibility: hidden;

    @media screen and (max-width: $breakpoint768) {
      top: 0;
      right: 0;
      bottom: unset;
      width: 100px;
      height: 100px;
      border-radius: $borderRadiusMobile;
      opacity: 1;
      visibility: visible;
    }

    @media screen and (max-width: $breakpoint480) {
      width: 70px;
      height: 70px;
      border-radius: 16px;

    };

    img {
      height: 100%;
      object-fit: cover;
    };
  }

  &__member:hover &__photo {
    opacity: 1;
    visibility: visible;
  }

  h2 {
    margin: between(40px, 81px) 0 between(40px, 247px);
  }
}

.reviews {
  &__container {
    border-radius: $borderRadius;
    background-color: $light;

    @media screen and (max-width: $breakpoint768) {
      border-radius: $borderRadiusMobile;
    };
  }

  &__gallery {
    display: flex;
    justify-content: space-between;
    padding: between(50px, 102px, $breakpoint480, $breakpoint768) 0;
    gap: 0 between(30px, 120px);

    @media screen and (max-width: $breakpoint768) {
      flex-direction: column;
    };

    h2 {
      margin-top: between(20px, 60px, $breakpoint768);
      color: $dark;
    }
  }

  &__column {
    flex-basis: 50%;

    &:first-child {
      margin-bottom: 20px;
    }

    > *:not(:last-child) {
      margin-bottom: between(20px, 53px, $breakpoint768);
    }
  }

  &__item {
    width: 100%;
    padding: between(36px, 60px, $breakpoint480, $breakpoint768) 36px;
    border-radius: $borderRadius;
    background-color: #f7f7f7;

    @media screen and (max-width: $breakpoint768) {
      border-radius: $borderRadiusMobile;
    }

    > *:not(:last-child) {
      margin-bottom: between(15px, 43px, $breakpoint768);
    };
  }

  &__name {
    display: block;
    color: black;
    font-size: between(20px, 40px, $breakpoint768);
    font-weight: 400;
  }

  &__desc {
    display: block;
    max-width: 80%;
    color: $dimgrey;
    font-size: between(18px, 40px, $breakpoint768);
    font-weight: 400;

    @media screen and (max-width: $breakpoint992) {
      max-width: unset;
    };
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 0 23px;

    img {
      width: 69px;
      height: 69px;
      border-radius: 50%;
      object-fit: cover;

      @media screen and (max-width: $breakpoint992) {
        width: 51.75px;
        height: 51.75px;
      };
    }
  }

  &__role {
    color: $dimgrey;
    font-size: between(16px, 26px, $breakpoint768);;
  }
}
