$offsetHeight: 115px;

.menu {
  @media screen and (max-width: $burgerBreakPoint) {
    position: fixed;
    z-index: 2;
    top: $offsetHeight;
    right: 75px;
    width: 40%;
    height: calc(100% - var(--offsetHeight));
    scale: 0;
    transform-origin: top right;
    transition: scale 0.6s ease-in-out;
  }

  @media screen and (max-width: $breakpoint768) {
    right: 55px;
    width: 75%;
  };

  @media screen and (max-width: $breakpoint480) {
    right: 40px;

  };

  &__list {
    @include resetList;

    display: flex;
    padding: 15px between(48.6px, 81px, $breakpoint992);
    border-radius: 71px;
    background-color: $light;
    gap: 0 between(36px, 60px, $breakpoint992);

    @media screen and (max-width: $burgerBreakPoint) {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 41px;
      backdrop-filter: blur(10px);
      background-color: rgb(255 255 255 / 50%);
      border-top-right-radius: 0;
      overflow-y: auto;
    }
  }

  &__link {
    display: block;
    padding: between(11.25px, 15px, $breakpoint992) between(15px, 20px, $breakpoint992);
    color: $dark;
    font-family: "STIX Two Text", serif;
    font-size: between(21px, 28px, $breakpoint992);
    text-decoration: none;
    text-transform: lowercase;

    @media screen and (max-width: $burgerBreakPoint) {
      font-size: 35px;
    }
  }

  &__contact {
    @media screen and (min-width: $breakpoint992) {
      display: none;
    }
  }

  &-active {
    scale: 1;
  }
}
