// Используй миксин image-set чтобы браузер сам выбрал подходящий формат картинки для фона + фолбэк
@mixin imageSet($pathToImage) {
  background-image: url("#{$pathToImage}.jpg");
  background-image: image-set(
    url("#{$pathToImage}.webp") type("image/webp"),
    url("#{$pathToImage}.jpg") type("image/jpg"),
  );
}

@mixin imageSetWithGradient($gradient, $pathToImage) {
  background-image: #{$gradient}, url("#{$pathToImage}.jpg");
  background-image: #{$gradient}, image-set(
    url("#{$pathToImage}.webp") type("image/webp"),
    url("#{$pathToImage}.jpg") type("image/jpg"),
  );
}
