<nav
      class="menu"
      title="Navigation menu"
      data-menu>
      <ul class="menu__list">
        <li
          class="menu__item"
          data-menu-item>
          <a
            href="sanitary.html"
            class="menu__link"
            >sanitary</a
          >
        </li>
        <li
          class="menu__item"
          data-menu-item>
          <a
            href="heating.html"
            class="menu__link"
            >heating</a
          >
        </li>
        <li
          class="menu__item"
          data-menu-item>
          <a
            href="solar.html"
            class="menu__link"
            >solar</a
          >
        </li>
        <li
          class="menu__item"
          data-menu-item>
          <a
            href="#"
            class="menu__link"
            >team</a
          >
        </li>
        <li
          class="menu__item"
          data-menu-item>
          <a
            href="references.html"
            class="menu__link"
            >references</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="burger"
      aria-label="Open menu"
      aria-expanded="false"
      data-burger>
      <span class="burger__icon"></span>
    </button>
