<section class="contact">
  <div class="contact__container">
    <ul class="contact__list">
      <li class="contact__item">
        <svg
          width="10.1"
          height="14.5">
          <use xlink:href="img/sprite.svg#place"></use>
        </svg>
        <span>Berbstr. 1, Cologne, Germany</span>
      </li>
      <li class="contact__item">
        <svg
          width="15"
          height="12">
          <use xlink:href="img/sprite.svg#mail"></use>
        </svg>
        <span>berb@gmail.com</span>
      </li>
      <li class="contact__item">
        <svg
          width="12.2"
          height="12.2">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
        <span>0221/12 12 23 15</span>
      </li>
    </ul>
  </div>
</section>
