<footer class="footer">
  <div class="footer__container">
    <span class="footer__company">
      berb
    </span>
    <div class="footer__content">
      <div class="footer__info">
        <span>
          Berb is a master
          business, in the 1st generation,
          which was founded in 2020 in
          Cologne.
        </span>
          <a href="mailto:berb@gmail.com">berb@gmail.com</a>
          <a href="tel:+4922112122315">+49 221 12 12 23 15</a>
      </div>
      <ul class="footer__list">
        <li>
          <a href="#">Instructions</a>
        </li>
        <li>
          <a href="#">Licensing</a>
        </li>
        <li>
          <a href="#">Changelog</a>
        </li>
        <li>
          <a href="#">Styleguide</a>
        </li>
      </ul>
      <ul class="footer__list">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="sanitary.html">sanitary</a>
        </li>
        <li>
          <a href="heating.html">heating</a>
        </li>
        <li>
          <a href="solar.html">solar</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
