*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $light;
  font-family: $fontPrimary, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: STIXTwoMath, serif;
}

h1 {
  font-size: clamp(2.25rem, 1.3269rem + 4.1026vw, 6.25rem); // 100 => 36
  font-style: normal;
  font-weight: 400;
  line-height: clamp(2.8125rem, 1.9471rem + 3.8462vw, 6.5625rem);
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1.75rem, 0.4583rem + 4.3056vw, 5.625rem); // 90 => 28
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-family: Ubuntu, sans-serif;
  font-size: clamp(1.625rem, 1.2292rem + 1.3194vw, 2.8125rem); // 45 => 26
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  margin: 0;
  font-size: clamp(1.125rem, 0.8942rem + 1.0256vw, 2.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  font-size: clamp(1rem, 0.7981rem + 0.8974vw, 1.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  span { //stylelint-disable-line
    text-decoration-line: underline;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

// Container
[class*="container"] {
  width: 100%;
  max-width: ($containerWidth + $containerSafePadding) + px;
  padding: 0 $containerInlinePadding + px;
  margin: 0 auto;

  @media (max-width: $breakpoint1450) {
    max-width: 1300px;
    padding: 0 65px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;

  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
    padding: 0 45px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
    padding: 0 30px;
  }
}

// Wrapper & Main css's classes press the footer to the page bottom, main element grows the whole available space of page
// Wrapper & Main css's прижимают футер к низу страницы, елемент main растягивается на все доступное пространство страницы
.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.dis-scroll {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  overscroll-behavior: none;
}

.btn {
  @include resetBtn;

  padding: 19px between(35px, 70px);
  border-radius: 50px;
  background-color: $dark;
  color: $light;
  font-family: STIXTwoText, serif;
  font-size: between(16px, 28px);
}
